{% extends 'base.html' %}

{% block content %}
Welcome to Tweeter

<div id="tweets">
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById("tweets")

    const xhr = new XMLHttpRequest()
    const method = 'GET' // 'POST'
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        const listedItems = xhr.response.response
        // console.log(listedItems)
        var finalTweetStr = ""
        for(var i = 0; i < listedItems.length; i++){
            var currentItem = "<div class='mb-4'><h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "</p></div>"
            finalTweetStr += currentItem
        }

        tweetsElement.innerHTML = finalTweetStr

    }
    xhr.send()
</script>

{% endblock content %}
